* {
    word-wrap: break-word !important;
    word-break: break-all !important;
}

.font-size-0 {
    font-size: 0;
}

._fyhferygfyer {
    display: none;
    max-width: 300px;
    flex: 1;
}

._jfgghywsegyferg {
    border-width: 2px;
    font-size: 20px;
}

._jfgghywsegyferg:focus {
    border-width: 3px;
    border-color: var(--success);
}

[contenteditable=true] {
    outline: none;
    border: 0;
}

._hfuwugfergtruhg {
    flex: 1;
}

.custom-control-label::before,
.custom-control-label::after {
    height: 25px;
    width: 25px;
}

.right_jfgghesdgfherg {
    flex: 1;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: var(--success);
    background-color: var(--success);
}

._ufgygtfyerytger {
    flex: 1;
}

.line-through {
    text-decoration: line-through;
}

._jfguyrguyer ._jshdesrf {
    position: relative;
}

.btn_asdjiad {
    display: none;
}

._jfguyrguyer ._jshdesrf:hover .btn_asdjiad {
    display: block;
    position: absolute;
    bottom: 10px;
    right: 10px;
}